.data-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.data-table .search-input,
.sort-select,
.gender-select,
.button-pop {
}
